@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Source+Sans+Pro');

html, body {
	height: 100%;
	width: 100%;
	font-family: Source Sans Pro, sans-serif;
	color: #2a3343;
	scroll-behavior: smooth;
}

.navbar {
	background: transparent;
	position: fixed;
	top: 0;
}

.navbar-brand {
	color: #2a3343;
}

.navbar-brand:hover {
	color: #d65780;
}

.jumbotron {
	background: /*url("./assets/images/hero.jpg")*/ linear-gradient(#9dcdc0,#efd2cb) !important;
	background-size: cover;
	border-radius: 0;
}

h1, h3 {
	font-family: Merriweather, serif;
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

#hero h1 {
	position: relative;
  	animation: hero 1s;
}

@keyframes hero {
  0%   {opacity: 0; left: 0px; top: 0px;}
  100% {opacity: 1; left: 0px; top: 0px;}
}

#hero .lead,.btn {
	position: relative;
  	animation: herop 1.2s;
  	animation-direction: normal;
}

@keyframes herop {
  0%   {opacity: 0; left: 0px; top: -50px;}
  100% {opacity: 1; left: 0px; top: 0px;}
}

.btn {
	background-color: #d65780;
	border: 1px solid #d65780;
	color: #efd2cb;
}

.btn:hover {
	background-color: #efd2cb;
	color: #d65780;
}

#portfolio, #about-me {
	background: #efd2cb !important;
}

.card {
	text-align: center;
}

.footer {
	background: #efd2cb;
}

@media (min-width: 576px) {
	h1 {
		font-size: 4em;
	}
}

@media (min-width: 768px) {
	h1 {
		font-size: 5em;
	}
}

@media (min-width: 992px) {
	h1 {
		font-size: 6em;
	}
}